.intro-box {
  padding: 3rem;
  background: rgb(217, 213, 213);
  text-align: center;
}

.intro-box p {
  font-family: 'Courier New', Courier, monospace;
}

.category-head {
  font-family: "Kaushan Script", cursive;
  padding-bottom: 3rem;
}

.cate {
  background: rgb(217, 213, 213)
}

.displays {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
}

.category-card {
  position: relative;
  text-align: center;
}

.category-card img{
  width: 100%;
  height: 260px;
  object-fit: contain;
}